<h1>Ivan the Terrible's Blog</h1>
<section class="search_form">
<%= form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_area_tag :search, params[:search] %>
    <%= submit_tag "Search titles", :name => nil %>
  </p>
<% end %>
</section>
<section class="blog">
<% if params[:search].present? %>
  <p>Number of results: <%= @posts.size %>
<% end -%>
<% @posts.each do |post| %>
  <section class="post">
    <h2><%= post.title %></h2>
    <div><%= post.body %></div>
    <div class="post_nav">
      <%= link_to 'Show', post %> |
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="comment">
      <% post.comments.first(3).each do |c| %>
        <p><%= c.body %></p>
        <div class="reply">
          <% c.replies.first(3).each do |r| %>
            <p><%= r.body %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
  <% end %>
</section>

<br />

<%= link_to 'New Post', new_post_path %>
